#reformatted_text {
    line-height: 200%;
}

#raw_text {
    width: 100%;
}

#clear {
    background: #f2f2f2;
    color: #0099FF;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    display: inline-block;
}

#clear:hover {
    background: #e6e6e6;
    text-decoration: none;
    cursor: pointer;
}

#reformat_button {
    background: #0099FF;
    color: #f2f2f2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    display: inline-block;
}

#reformat_button:hover {
    background: #00CCFF;
    text-decoration: none;
    cursor: pointer;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

button:focus {
    outline:0;
}

.content {
    width: 50%;
    margin: 25px auto;
}

.question {
    color: red;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1 {
    text-align: center;
}

.submit {
    width: 50%;
    margin: auto;
    text-align: right;
}