html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
    border: 0px;
    position: absolute;
    left: 0;
    top: 0;
}

#reformatted_text {
    line-height: 200%;
}

#raw_text {
    width: 100%;
}

#clear {
    background: #f2f2f2;
    color: #0099FF;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    display: inline-block;
}

#clear:hover {
    background: #e6e6e6;
    text-decoration: none;
    cursor: pointer;
}

#reformat_button {
    background: #0099FF;
    color: #f2f2f2;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    border: none;
    display: inline-block;
}

#reformat_button:hover {
    background: #00CCFF;
    text-decoration: none;
    cursor: pointer;
}

#reformat_button:disabled {
    background: #00CCFF;
    cursor: not-allowed;
}

button:focus {
    outline:0;
}

button {
    margin-left: 5px;
    margin-right: 5px;
}

.content {
    width: 50%;
    margin: 25px auto;
}

.question {
    color: red;
}

.containsWord {
    color: #00CCFF;
}

body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.title{
    padding: 20px 0px;
}

h1 {
    text-align: center;
    margin: 0;
    padding: 0;
    border: none;
}

h2 {
    padding: 0px;
    margin: 0px;
    border: none;
    color: #000000;
}

.submit {
    width: 60%;
    height: 43px;
    margin: auto;
    text-align: right;
    padding: 20px 0px;
}

.advanced-wrapper{
    margin-top: 0;
    margin-bottom: 0;
}

#easymail_main{
    position: absolute;
    width: 80%;
    padding: 0;
    margin: 0;
    border: none;
}

#easymail_main.fullscreen{
    width: 100%;
}

.settings_button{
    position: absolute;
    right: 0;
    top: 0;
    background-image: url('icons/blueleft32.png');
    background-repeat: no-repeat;
    background-position: center center;
    display: none;
    float: right;
    height: 32px;
    width: 32px;
    padding: 20px;
    margin: 0;
    border: none;
    cursor: pointer;
}

#settings_panel{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 20%;
    margin: 0;
    padding: 0px;
    background-color: #F5F5F5;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#settings_header{
    padding: 20px;
    margin: 0;
    cursor: pointer;
    border-bottom: 1px solid white;
}

.settings_content {
    padding: 20px 0px;
    line-height: 2;
}

.collapse_right_icon{
    background-image: url("icons/blueright32.png");
    background-repeat: no-repeat;
    background-position: center center;
    display: inline;
    float: left;
    height: 32px;
    width: 32px;
    margin: 0;
    border: none;
}

.settings_title{
    display: inline;
    color: #0099FF;
    padding-left: 20px;
}

.settings_content{
    padding: 20px;
    margin: 0;
    border: none;
}
